body{
    margin: 0px;
    background-color:rgb(244, 142, 142);
}








h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#f{
    background-color: white;
    height: 290px;
    width: 1000px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 280px;
    text-align: center;
    border:2px solid black;
}

p{
    /* font-style:initial; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(244, 142, 142);
}
#f:hover{
    
    box-shadow: 0 4px 800px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;

}
